*{
    margin: 0;
    padding: 0;
}
.BG{
    background-image: url("./BG.gif");
}
.Active{
    border: 3px solid white;
    box-shadow: 0px 0px 10px 1px #20c1d6;
    box-shadow: 0px 0px 10px 1px #20c1d6;
}



.top_logo{
    width: 50%;
}
.top_logo img{
    width: 100%;
}

.header{
    background-color: #2062ae;
    color: white;
    text-align: left;
    padding: 0px;
    width: 100%;
    display: flex;
}
.header h2{
    margin: 0;
    padding-top: 10px;
    font-size: 50px;
}
.header h3{
    margin: 0;
    padding: 5px;
}


.title_right{
    margin: 0;
    padding: 0;
}





.print_box{
    box-shadow: 0px 1px 4px #333;
    max-height: 1000px;
    height: 1000px;
    margin-top: 10px;
    border-radius: 10px;
}

.print_box p{
    color: #0f77ee;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}



.left_side{
    box-shadow: 0px 1px 4px #333;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: white;
}
.left_side button{
    width: 100%;
    margin-bottom: 10px;
    
}


.Main_Left_Side{
    float: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    
}

.Input_Box{
    max-width: 5in;
    height: 3.8in;
    border: 1px solid #333;
    display: block;
    overflow: hidden;
    padding: 10px;
    margin: auto;
    box-shadow: 0px 0px 20px 0px #6d6d6d;
    margin-bottom: 10px;
}

.Input_Title{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #1e7ae2;
}
.All_Input_Item{
    display: inline-block;
    padding: 10px;
    /* margin: 10px; */
}
.All_Input_Item p{
    font-size: 20px;
    font-weight: bold;
    /* padding: 10px; */
    margin-top: 10px;
}
.input_item{
    padding: 10px;
    width: 100%;
    font-size: 20px;
    color: #2062ae;
    text-shadow: 1px 0px 0px #333;
    letter-spacing: 3px;
}

.Submit_btn{
    width: 5in;
    display: block;
    padding: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #2062ae;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    transition: 1000ms;
}
.Submit_btn:hover{
    background-color: #1e7ae2;
    color: black;
    cursor: pointer;
    /* margin-top: 20px; */
}
.Print_btn{
    width: 6.5in;
    margin-top: 20px;
    display: block;
}



/* =============== */
/* Design side  */
.Main_Right_Side{
    float: right;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: contents;
}


.Print_Section{
    max-width: 6.5in;
    /* max-height: 4.5in; */
    display: block;
    overflow: hidden;
    padding: 20px;
    margin: auto;
    box-shadow: 0px 0px 5px 0px #6d6d6d;
    margin-top: 10px;
    border-radius: 10px;
    background: white;
    margin-bottom: 20px;
}

.Title{
    display: flex;
    margin-bottom: 5px;
}

.Left_Side{
    float: left;
    width: 55%;
    margin-right: 5px;
}
.Logo{
    max-width: 100%;
}
.Right_Side{
    float: right;
    width: 45%;
    padding-left: 5px;
    border-left: 3px solid #2062ae;
}
.AgentBanking{
    color: #2062ae;
    font-weight: bold;
    font-size: 20px;
}
.Address{
    font-weight: bold;
    font-size: 18px;
    color: #2a4a6f;
}

.Ac_Info{
    text-align: center;
    /* background-color: #2062ae; */
    padding: 5px;
    color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.Dynamic_Text{
    margin-top: 5px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

table{
    width: 100%;
    background-color: white;
}
tr{
    padding: 5px;
}
td{
    padding: 5px;
}
.AC_Title, .AC_No, .AC_Mobile_No{
    padding: 5px;
}
table, tr, td{
    border: 2px solid #2062ae;
    border-radius: 5px;
    background-color: white;
}


.Dynamic_AC_Info{
    /* color: #2062ae; */
    background-color: white;
    text-shadow: 1px 0px 0px #333;
    letter-spacing:2px;
    padding: 5px;
    font-weight: bold;
    color: black;
}


.Emergency_Text{
    font-size: 18px;
    line-height: 22px;
}



.Print_Size{
    box-shadow: 0px 0px 5px 0px #6d6d6d;
    /* width: 500px;
    height: 500px; */
    margin: auto;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 20px;
}


/* =============== */
/* print css  */

@page {
	size: auto;
	margin-top: 20px;
}




/* pritn css */
@media print {

  }


@page {
	width: 8.69in;
    height: 11.69in;
    
}



.Top_Menu_Section{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
    background-color: #337ab7ed;
}

.Top_Menu_Section a{
    display: inline-block;
    /* width: 200px;
    height: 200px; */
    background-color: #2062ae;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    transition: 700ms;
    box-shadow: 0px 0px 5px 2px #333;
}
.Top_Menu_Section a:hover{
    color: #2062ae;
    background-color: white;
    box-shadow: 0px 0px 10px 1px #20c1d6;
    text-decoration: none;

}









.BG_light{
    background-color: #f5f5f5e3;
}
.Menu_Section{
    width: 80%;
    margin: auto;
}

.Menu_Section a{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: #2062ae;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    padding-top: 85px;
    font-size: 20px;
    transition: 700ms;
    box-shadow: 0px 0px 5px 2px #333;
}
.Menu_Section a:hover{
    color: #2062ae;
    background-color: #ffffff00;
    box-shadow: 0px 0px 10px 1px #20c1d6;
    text-decoration: none;

}



.Footer{
    padding: 50px;
    text-align: center;
}






/* Remittance Calculation start */
.RM{
    display: flex;
    background-color: #ffffffeb;
    width: 80%;
    margin: auto;
    padding: 50px;
}
.RM_Left{
    box-shadow: 0px 0px 5px 2px #333;
    padding: 50px;
    border-radius: 10px;
    margin: auto; 
}
.RM_Left:hover{
    box-shadow: 0px 0px 10px 1px #20c1d6;
}
.RM_Left button{
    width: 100%;
    margin-top: 10px;
}
.RM_Left select{
    margin-top: 5px;
}



.RM_Right{
    box-shadow: 0px 0px 5px 2px #333;
    padding: 50px;
    border-radius: 10px;
    margin: auto;
}
.RM_Right:hover{
    box-shadow: 0px 0px 10px 1px #20c1d6;
}
.RM_Right span{
    font-weight: bold;
    font-size: 20px;
}
.RM_Right hr{
    border: 1px solid #333;
}



/* Remittance Calculation end */
